* {
  font-family: Open Sans, Helvetica, sans-serif;
  color: #DCD6D1;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  background-color: #7D7670;
  margin-top: 30vh;
}

h1 {
  text-align: center;
}

.sub {
  display: none;
}

.site:hover .sub {
  display: block;
}
