* {
  font-family: Open Sans, Helvetica, sans-serif;
  text-align: center;
  color: White;
  animation: fadein .5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#resolvedState {
  display: none;
}

#throbber {
  display: none;
  transform: scale(.3, .3);
}

#paper {
  margin-right: -150px;
  margin-left: -150px;
}

body {
  background-color: DarkSlateGray;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 100px;
  font-size: 48px;
}

p {
  font-size: 24;
}

input {
  opacity: .75;
  transform: scale(.3, .3);
  transition: opacity .25s, transform .25s;
}
input:hover {
  opacity: 1;
  transform: scale(.33, .33);
}

#retryButton {
  transition: color .25s;
}

#retryButton:hover {
  color: SlateGray;
}

img {
  transform: scale(.5, .5);
}
