*{
  font-family: Open Sans, Helvetica, sans-serif;
  text-align: center;
  animation: fadein .5s;
  color: White;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#paper {
  margin-right: -150px;
  margin-left: -150px;
}

#throbber {
  display: none;
  margin-top: 200px;
  transform: scale(.3, .3);
}

#button {
  display: none;
  background: DarkSlateGray;
  transition: background .25s ease-in-out;
}

#button:hover {
  background: Black;
}

body {
  background-color: DarkSlateGray;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 50px;
  font-size: 48;
}

input {
  display: inline-block;
  opacity: 1;
  transition: opacity .25s, transform .25s;
  transform: scale(.3, .3);
}

input:hover {
  opacity: .75;
  transform: scale(.33, .33);
}
